/Task Manager/node_modules
/Task Manager/.env
/Store_API/node_modules
/Store_API/.env
/Basic JWT/node_modules
/Basic JWT/.env
/Jobs API/node_modules
/Jobs API/.env
/Image Upload/node_modules
/Image Upload/.env

