body {
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 30%;
	margin: auto;
}

article {

	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 30%;
}

section {


	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 30%;
	margin: auto;
	display: flex;
	justify-content: left;
}

#products {
	align-content: flex-start;
	flex-wrap: wrap;
	padding: 10px;
	background-color: slategrey;
	flex-direction: row;
	gap: 10px;

}

.product {
	border-radius: 10px;
	padding: 5px;
	width: 25%;
	height: 25%;
	background-color: seashell;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"name image image image"
		"price image image image"
	;
}

.product .item-name {
	grid-area: name;
}

.product .price {
	grid-area: price;
}

.product img {
	grid-area: image;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

section article {
	flex-shrink: 5;
}

#getAllProducts {
	position: absolute;
	height: 20px;
	width: 20px;
}
